# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
.vscode
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#files too large
json/HOHEITSGEBIET.json
json/KANTONSGEBIET.json
json/swissBOUNDARIES3D_1_3_TLM_BEZIRKSGEBIET.geojson
json/swissBOUNDARIES3D_1_3_TLM_HOHEITSGEBIET.geojson
json/swissBOUNDARIES3D_1_3_TLM_HOHEITSGRENZE.geojson
json/swissBOUNDARIES3D_1_3_TLM_KANTONSGEBIET.geojson
json/swissBOUNDARIES3D_1_3_TLM_LANDESGEBIET.geojson
